.weatherHolder {
  display: flex;
  flex-direction: row;
  align-items: left;
  justify-content: space-between;
  text-align: center;
}

.weatherCard {
  padding: 10px;
}

.weatherCardsContainer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}